APP_NAME="AI-CV-Parsing"
API_KEY=""
OPENROUTER_MODEL="openai/gpt-4.1-mini"
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

FILE_ALLOWED_TYPES = ["application/pdf"]
FILE_MAX_SIZE = 10485760 # 10 MB ---> Bytes
FILE_DEFAULT_CHUNCK_SIZE=512000